.carouselSection {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  height: 100vh;
  width: 100%;
  justify-content: center;
  background: linear-gradient(45deg, #f9d29d, #fab3a9);
  overflow-y: auto;
  align-items: center;
  box-sizing: border-box;
}

.carouselContainer {
    position: relative;
    width: 90%;
    height: 70%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
  }
  
  .carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    transition: transform 0.3s ease;
    justify-content: center;
  }

  .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    text-align: center;
  }
  
  .captionHeader {
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
  }
  
  .captionText {
    font-size: 1em;
    margin: 5px 0 0;
    padding-bottom: 15px;
  }
  .prevButton,
  .nextButton {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .prevButton {
    left: 20px;
  }
  
  .nextButton {
    right: 20px;
  }
  
  .prevButton:hover,
  .nextButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .curvedButton {
    padding: 10px 20px;             
    background-color: #2d2d2d;    
    color: white;                   
    border: none;                   
    border-radius: 20px;           
    cursor: pointer;                
    font-size: 16px;                
    transition: background-color 0.3s ease;  
    font-family: "Garamond", serif;
  }
  
  .curvedButton:hover {
    background-color: #000000   
  }

  .projectTextContainer {
    /* flex: 2; */
    width: 100%;
    flex-direction: column; 
    justify-content: center; 
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    overflow-y: auto;
    display: flex;
  }

  .projectTextContainer h2 {
    font-size: 30px;         
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    color: #000000;
  }

  .projectTextContainer p {
    font-size: 18px;        
    color: #000000;
  }

  .curvedButtonProjects {
    padding: 10px 20px;             
    background-color: #1F305E;    
    color: white;                   
    border: none;                  
    border-radius: 20px;            
    cursor: pointer;                
    font-size: 16px;               
    transition: background-color 0.3s ease;  
  }

  @media (max-width: 1024px) {
    .carouselSection {
      grid-template-columns: 1fr; /* Stack the items on top of each other */
      height: auto;
    }
  
    .projectTextContainer,
    .carouselContainer {
      width: 100%;
      padding: 10px;
    }
  }